# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Distribution / build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.mypy_cache/

# If you don't want to upload trained models
models/
*.pt
*.pth
*.onnx
*.joblib
*.pkl